/nbproject/private/
/node_modules/
project.xml
project.properties
.DS_Store
Thumbs.db
build
.buildpath
.project
.settings*
.vscode
sftp-config.json
/deploy/
/wc-apidocs/
/languages/

# Ignore all log files except for .htaccess
/logs/*
!/logs/.htaccess

/vendor/
composer.lock

tests/e2e/config/local-*
.eslintcache
woocommerce-services.zip
dist/
.cache/
