.shipping-label__container {
	margin-bottom: 0;
	text-align: center;

	.shipping-label__payment .gridicon.notice__icon {
		align-self: flex-start;
		margin-top: 8px;
	}

	.shipping-label__new {
		padding: 16px;
		border-bottom: 1px solid #eee;

		.shipping-label__new-label-button {
			width: 100%;
			margin-top: 16px;

			&.is-placeholder {
				@include placeholder();
			}
		}

		p {
			margin-bottom: 3px;
			text-align: left;
		}
	}
}
