.shipping-label__container {
	margin-bottom: 0;
	text-align: center;
	display: flex;
	justify-content: space-between;

	em {
		font-size: 18px;
		display: inline-block;
		vertical-align: text-bottom;
		margin-left: 10px;
		height: 36px;
		position: relative;
		top: 3px;
		font-style: normal;
	}

	.shipping-label__payment .gridicon.notice__icon {
		align-self: flex-start;
		margin-top: 8px;
	}

	.shipping-label__new {
		padding: 16px;
		border-bottom: 1px solid #eee;

		.shipping-label__new-label-button {
			width: 100%;
			margin-top: 16px;

			&.is-placeholder {
				@include placeholder();
			}
		}

		p {
			margin-bottom: 3px;
			text-align: left;
		}
	}
}

.shipping-label__multiple-buttons-container {
	button {
		margin-left: 10px;
	}
}

.shipping-label__redo-shipping-button .button.is-borderless {
	margin-right: 8px;
	color: #777;
}

&.label-purchase-modal,
&.packages-step__dialog {
	font-size: 15px;
}

.label-purchase-modal__option-email-customer,
.label-purchase-modal__option-mark-order-fulfilled {
	display: none;
}

.order-activity-log {
	.foldable-card .foldable-card__content {
		padding-left: 0;
		padding-right: 8px;

		&:before {
			left: 30px;
		}
	}

	.foldable-card.card.order-activity-log__day-header {
		margin: 0;
	}

	.order-activity-log__note-body {
		margin-left: 0;
		padding-left: 8px;
		padding-right: 8px;

		.order-activity-log__note-content {
			margin: 0;
		}
	}

	.order-activity-log__note-meta {
		flex-basis: 48px;
	}
}

.shipping-label__item .shipping-label__button {
	padding: 0;
	font-weight: normal;
	font-size: 13px;
	line-height: 19px;
}

.shipping-label__button-loading {
	height: 40px;
	min-width: 162px;
}

@media (max-width: 1080px) {
	.shipping-label__container {
		display: block;
	}
}
