.settings__placeholder {
	.form-label,
	.form-text-input {
		@include placeholder();
		pointer-events: none;
	}
}

.settings__button-row {
	background: var( --color-surface-backdrop );
	padding: 16px 24px;
	margin-right: 0;
	margin-left: 0;
	max-width: 100%;
}
