.card.is-compact.label-payment-method {
	margin-bottom: 14px;
	display: flex;
	flex-direction: row;
	align-items: center;
	cursor: pointer;

	.payment-logo {
		float: left;
		margin-top: 0;
		margin-right: 14px;
	}
}

.label-payment-method__checkbox {
	margin-right: 20px;
	float: left;
}

.payment-logo {
	float: left;
	margin-top: 10px;
	margin-right: 14px;
}

.label-payment-method__card-details {
	float: left;
	flex-grow: 1;
}

.label-payment-method__card-number {
	margin-bottom: 0;
	font-weight: bold;
}

.label-payment-method__card-name {
	margin-bottom: 0;
}

.label-payment-method__card-date {
	float: right;
	color: $gray;
	font-style: italic;
}
