.stripe__connect-account {
	.stripe__connect-account-heading {
		display: none;
	}

	.stripe__connect-account-body {
		border: 1px solid #ccc;
		line-height: 1.5;
	}

	.stripe__connect-account-status {
		vertical-align: sub;
	}

	.stripe__connect-account-disconnect {
		line-height: 21px;
		display: inline-block;
		vertical-align: bottom;
	}
}

.stripe-connect-account__placeholder-container {
	@extend .stripe__connect-account;

	.stripe-connect-account__placeholder-body {
		@extend .stripe__connect-account-body;
		@include placeholder();
	}
}

&.wc-connect-stripe-connect-account {
	max-width: 545px;
}
