.carrier-accounts__settings-cancel-dialog {
	.components-modal__content {
		max-width: 666px;
		min-height: 200px;

		.carrier-accounts__settings-cancel-dialog-header {
			background-color: #fcfcfc;
			border-bottom: 1px solid #ececec;
			display: flex;

			.carrier-accounts__settings-cancel-dialog-title {
				display: block;
				margin: auto 28px;
			}

			.carrier-accounts__settings-cancel-dialog-close-button {
				border: 0 none;
				outline: 0 none;
				background-color: inherit;
				height: 61px;
				width: 61px;
				border-left: 1px solid #ececec;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-left: auto;
				margin-right: 0;
				cursor: pointer;
			}
		}
		.carrier-accounts__settings-cancel-dialog-description {
			margin: 28px;
		}

	}
	.dialog__action-buttons {
		.is-primary.is-scary {
			background-color: #eb0001;
			border-color: #ac120b;
			color: #fff;
		}
		.is-borderless {
			border: none;
			background: none;
			color: #636d75;
			padding-left: 0;
			padding-right: 0;

			&:hover {
				color: #3d4145;
			}
		}
	}
}
