.wcc-shipping-packages-list {

    &.form-fieldset {
        margin-bottom: 12px;
        padding-bottom: 8px;
        border-bottom: 1px solid lighten( $gray, 30% );
    }

    .package-type {
        width: 10%;
        @include breakpoint( '<660px' ) {
            width: 12%;
    }

    .gridicon {
        border-radius: 50%;
        background-color: $gray;
        fill: white;
        padding: 4px;
        }
    }

    .package-name {
        width: 55%;
        @include breakpoint( '<660px' ) {
            width: 43%;
        }
    }

    .package-dimensions {
        width: 30%;
        @include breakpoint( '<660px' ) {
            width: 40%;
        }
        &.form-legend {
            width: 35%;
            @include breakpoint( '<660px' ) {
                width: 45%;
            }
        }
    }

    .package-actions {
        width: 5%;
    }
}

.wcc-shipping-packages-list-header {
    display: flex;
    height: 26px;
    border-bottom: 1px solid lighten( $gray, 30% );
}

.wcc-shipping-packages-list-item {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.wcc-shipping-add-package-weight {
    width: 200px;
    float: left;

    .form-text-input {
        width: 88%;
    }

    .wcc-shipping-add-package-weight-unit {
        padding-left: 8px;
    }
}

#package_type {
    display: block;
    width: 100%;
}

.wcc-shipping-add-package-weight-group {
    .form-setting-explanation {
        margin-top: 68px;
    }
}

& .wcc-shipping-add-edit-package-dialog {
    .form-setting-explanation {
        display: inline-block;
    }
}

.button.is-borderless.remove-package {
    color: lighten( $gray, 10% );

    &:hover {
        color: $alert-red;
    }
}

.add-package-button-field .button {
    float: left;
    margin-left: 0;
}
