.rates-step__package-container {
	margin-bottom: 20px;

	.form-fieldset:last-child {
		margin-bottom: 0;
	}
}

.rates-step__package-container .form-server-error {
	margin-left: -2px; // align with form-input-validation gridicon
}

.rates-step__package-container .form-fieldset ~ .form-server-error {
	// when there is a rates drop-down
	margin-top: -1em;
}

.rates-step__package-container-rates-header {
	font-weight: bold;
	margin-bottom: 20px;
}

.notice.rates-step__notice {
	margin: -24px -24px 24px;
	width: inherit;
}

.rates-step__shipping-info-cost {
	font-weight: 600;
}


.rates-step__shipping-rate-container {
	display: flex;
	align-items: stretch;
	height: 100px;
}

.rates-step__carier-logo-image-usps {
	width: 40px;
	height: 40px;
}

.rates-step__shipping-rate-information {
	display: flex;
	flex-grow: 1;
	padding-left: 8px;
	border-bottom: 1px solid #EDEFF0;
	margin-bottom: 12px;
}

.rates-step__shipping-rate-radio-control {
	padding: 8px 8px 0 0;
	input[type='radio'] {
		border: 2px solid gray;
	}
	input[type='radio']:checked {
		border-color: #d52c82;
	}
	input[type='radio']:checked::before {
		margin: 2px;
		background-color: #d52c82;
	}
}

.rates-step__shipping-rate-description {
	display: flex;
	flex-direction: column;
}

.rates-step__shipping-rate-description-title {
	font-size: 15px;
}

.rates-step__shipping-rate-description-details {
	color: #646970;
	font-size: 12px;
	* label {
		margin-left: 5px;
	}
}

.rates-step__shipping-rate-description-signature-select {
	* select {
		color: #646970;
		font-size: 12px;
		min-width: 250px;
	}
}

.rates-step__shipping-rate-details {
	display: flex;
	flex-direction: column;
	margin-left: auto;
}

.rates-step__shipping-rate-delivery-date {
	color: #646970;
	font-size: 12px;
}

.rates-step__shipping-rate-rate {
	text-align: right;
}

.rates-step__shipping-info {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 56px;
	background: #EBF7F1;
	border: 1px solid #008A20;
	box-sizing: border-box;
	border-radius: 3px;
	margin-bottom: 36px;

	.gridicon {
		padding-right: 8px;
		color:#008A20;
	}
}
