.rates-step__package-container {
	margin-bottom: 20px;

	.form-fieldset:last-child {
		margin-bottom: 0;
	}
}

.rates-step__package-container .form-server-error {
	margin-left: -2px; // align with form-input-validation gridicon
}

.rates-step__package-container .form-fieldset ~ .form-server-error {
	// when there is a rates drop-down
	margin-top: -1em;
}

.notice.rates-step__notice {
	margin: -24px -24px 24px;
	width: inherit;
}

.rates-step__shipping-info-method,
.rates-step__shipping-info-cost {
	font-weight: 600;
}


.rates-step__shipping-rate-container {
	display: flex;
	align-items: center;
}

.rates-step__carier-logo-image-usps {
	width: 80px;
	height: 80px;
}

.rates-step__shipping-rate-information{
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.rates-step__shipping-rate-description {
	display: flex;
	flex-direction: column;
}

.rates-step__shipping-rate-description-title {
	font-size: 16px;
}

.rates-step__shipping-rate-rate {
	margin-left: auto;
}