.plugin-status__indicator {
	margin-top: 4px;
	margin-bottom: 4px;

	.form-setting-explanation {
		margin-top: 0;

		a {
			font-style: normal;
		}
	}

	&.is-success .plugin-status__indicator-icon-and-message {
		color: $alert-green;

		.gridicon {
			fill: $alert-green;
		}
	}

	&.is-warning .plugin-status__indicator-icon-and-message {
		color: $alert-yellow;

		.gridicon {
			fill: $alert-yellow;
		}
	}

	&.is-error .plugin-status__indicator-icon-and-message {
		color: $alert-red;

		.gridicon {
			fill: $alert-red;
		}
	}
}

.plugin-status__indicator-icon-and-message {
	display: flex;
	align-items: center;

	.indicator__icon {
		margin-right: 6px;
	}

	.indicator__message {
		margin-top: -4px;
	}
}

.plugin-status__indicator-subtitle {
	background: lighten( $gray, 30% );
	border-radius: 2px;
	color: darken( $gray, 30% );
	font-size: 11px;
	font-weight: 400;
	margin-left: 8px;
	padding: 2px 8px;
}

.plugin-status__help-description {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
}

.plugin-status__log-explanation {
	display: flex;
}

.plugin-status__log-explanation-span {
	flex-grow: 1;
}
