.plugin-status__indicator {
	margin-top: 4px;
	margin-bottom: 4px;

	.form-setting-explanation {
		margin-top: 0;

		a {
			font-style: normal;
		}
	}

	.plugin-status__indicator-message {
		margin: 0 0 4px 4px;
	}

	&.is-fetching .plugin-status__indicator-icon-and-message {
		fill: var( --color-neutral-dark );

		.gridicon {
			fill: var( --color-neutral-dark );
			animation: 3s linear infinite;
			animation-name: rotate-spinner;
		}
	}

	&.is-success .plugin-status__indicator-icon-and-message {
		fill: var( --color-success );

		.gridicon {
			fill: var( --color-success );
		}
	}

	&.is-warning .plugin-status__indicator-icon-and-message {
		color: var( --color-warning );

		.gridicon {
			fill: var( --color-warning );
		}
	}

	&.is-error .plugin-status__indicator-icon-and-message {
		color: var( --color-error );

		.gridicon {
			fill: var( --color-error );
		}
	}
}

.plugin-status__indicator-icon-and-message {
	display: flex;
	align-items: center;

	.indicator__icon {
		margin-right: 6px;
	}

	.indicator__message {
		margin-top: -4px;
	}
}

.plugin-status__indicator-subtitle {
	background: var( --color-surface-backdrop );
	border-radius: 2px;
	color: var( --color-neutral-dark );
	font-size: 11px;
	font-weight: 400;
	margin-left: 8px;
	padding: 2px 8px;
}

.plugin-status__help-description {
	font-size: 14px;
	font-weight: 400;
	line-height: 1.5;
}

.plugin-status__log-explanation {
	display: flex;
}

.plugin-status__log-explanation-span {
	flex-grow: 1;
}

.form-textarea {
	font-size: 12px;
	height: 195px;
	resize: none;
	white-space: pre;

	&#wcc_debug_log_tail {
		font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", Monaco, "Courier New", Courier, monospace;
	}
}
