&.dialog.card.add-package {
	@include breakpoint( ">480px" ) {
		top: 10%;
		right: calc(50% - 250px);
		bottom: 10%;
		left: calc(50% - 250px);
		width: 500px;
	}

	.form-section-heading {
		padding: 0;
	}

	.dialog__content {
		padding: 32px;
	}

	.form-setting-explanation {
		display: inline-block;
	}

	.form-text-input:disabled {
		border: 0;
		background: white !important;
		padding: 0 32px 0 0;
		cursor: default;
		color: $gray-dark;
		-webkit-text-fill-color: $gray-dark;

		&::placeholder {
			color: $gray-dark;
		}

		&:focus {
			box-shadow: none;
		}
	}

	#package_type {
		display: block;
		width: 100%;
	}
}

.add-package__weight {
	margin-bottom: 8px;
	@include breakpoint( '>660px' ) {
		float:left;
	}

	&:nth-child(2) {
		width: 100%;
		@include breakpoint( '>660px' ) {
			width: 54%;
		}
	}

	#box_weight,
	#max_weight {
		width: 82%;
	}

	#max_weight {
		@include breakpoint( '>660px' ) {
			width: 66%;
		}
	}

	.add-package__weight-unit {
		width: 34%;
		padding-left: 8px;
	}
}

.add-package__weight-group {
	.form-setting-explanation {
		@include breakpoint( '>660px' ) {
			clear: both;
		}
	}
}
