// ==========================================================================
// Components
//
// This is an import of all Calypso component CSS that is bundled with each component.
// Please keep these imports sorted and use specificity to ensure that
// stylesheet order does not matter.
// ==========================================================================

@import 'components/button/style';
@import 'components/button-group/style';
@import 'components/card/style';
@import 'components/dialog/style';
@import 'components/ellipsis-menu/style';
@import 'components/foldable-card/style';
@import 'components/forms/form-button/style';
@import 'components/forms/form-currency-input/style';
@import 'components/forms/form-fieldset/style';
@import 'components/forms/form-input-validation/style';
@import 'components/forms/form-label/style';
@import 'components/forms/form-legend/style';
@import 'components/forms/form-section-heading/style';
@import 'components/forms/form-select/style';
@import 'components/forms/form-setting-explanation/style';
@import 'components/forms/form-text-input/style';
@import 'components/forms/form-text-input-with-affixes/style';
@import 'components/forms/form-toggle/style';
@import 'components/global-notices/style';
@import 'components/image/style';
@import 'components/info-popover/style';
@import 'components/notice/style';
@import 'components/payment-logo/style';
@import 'components/screen-reader-text/style';
@import 'components/segmented-control/style';
@import 'components/spinner/style';

&.woocommerce {
	@import 'woocommerce/components/bulk-select/style';
	@import 'woocommerce/components/extended-header/style';
	@import 'woocommerce/components/form-dimensions-input/style';
}
