.notice.wcst-wcshipping-migration-notice,
.notice.wcst-wcshipping-migration-notice.is-dismissible {
  padding: 12px;
  color: var(--Gutenberg-Gray-900, #1E1E1E);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  display: flex;
  flex-direction: row;
  gap: 12px;
  justify-content: space-between;

  .notice-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: space-between;
  }

  p {
    margin: 0
  }

  .action-button {
    color: #3858E9;
    margin: 12px 0;
    border: 1px solid #3858E9;
    padding: 11.5px 12px 11.5px 12px;
    border-radius: 2px;
    background-color: #fff;
    cursor: pointer;
    margin: 0;
  }

  .notice-dismiss {
    width: 24px;
    height: 24px;
    position: relative;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:before {
      content: '\f335';
      color: #1E1E1E;
    }
  }
}
