.notice.wcs-nux__notice {
	display: flex;
	padding: 0;
	border: 0;

	.wcs-nux__notice-logo {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-left: 1em;
	}

	.wcs-nux__notice-logo img {
		width: 230px;
		height: 131px;
		margin: 1em;
	}

	.wcs-nux__notice-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 1em;
		margin-left: 1em;

		.wcs-nux__notice-content-button {
			align-self: flex-start; // do not stretch the button across entire div
		}
	}

	.wcs-nux__notice-content-text {
		max-width: 90%;
	}

	.wcs-nux__notice-jetpack {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		align-items: center;
		justify-content: center;
		background-color: #F4F8FA;
		padding: 4em;
		white-space: nowrap;

		p {
			margin: 2em 0 0 0; // override default style
		}
	}

	.wcs-nux__notice-jetpack img {
		height: 75px;
		width: 75px;
		margin: 1em;
	}

	.wcs-nux__notice-jetpack-text {
		text-transform: uppercase;
		font-size: 0.8em;
		letter-spacing: 2px;
		color: #82B1D2;
	}
}

@media (max-width: 1000px) {
	.notice.wcs-nux__notice {
		flex-direction: column;

		.wcs-nux__notice-logo {
			display: none;
		}

		.wcs-nux__notice-content {
			.wcs-nux__notice-content-button {
				align-self: auto;
				margin: 1.5em 0 1em 0;
				text-align: center;
			}
		}

		.wcs-nux__notice-jetpack {
			flex-direction: row;
			padding: 0.5em;

			img {
				height: 2em;
				width: 2em;
				margin: 0 1em 0 0;
			}

			.wcs-nux__notice-jetpack-text {
				margin: 0;
			}
		}
	}
}
