.notice.wcs-nux__notice {
	display: flex;
	padding: 0;
	border: 0;

	.wcs-nux__notice-logo {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: 1em;
		padding: 1.5em 2em;

		.wcs-nux__notice-logo-jetpack {
			width: 135px;
			margin: -10px 0 0.75em 21px;
		}

		.wcs-nux__notice-logo-graphic {
			width: 220px;
			height: 121px;
		}
	}


	.wcs-nux__notice-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 1em 1em 2.5em 1em;
		margin-left: 1em;
		color: #52768f;

		.wcs-nux__notice-content-title {
			color: #4F748E; // Needed to override specificity
			font-size: 1.3em;
			font-weight: 600;
		}

		.wcs-nux__notice-content-tos {
			font-size: 0.8em;
			color: #7591A5;
			margin: 0 0 1.5em 0;
			padding: 0;

			a {
					color: #49a8ce;
			}
		}

		.wcs-nux__notice-content-button {
			align-self: flex-start; // do not stretch the button across entire div
			background-color: #00AADC;
			border-color: #0087BE;
			box-shadow: 0 1px 0 #0087BE;
			color: #fff;
			font-size: 1.1em;
			height: auto;
			padding: 0.45em 1.5em;
			text-shadow: none;
		}
	}

	.wcs-nux__notice-content-text {
		max-width: 90%;
		margin: 0 0 1em;
		line-height: 1.6;
		padding: 0;
	}
}

@media (max-width: 1000px) {
	.notice.wcs-nux__notice {
		flex-direction: column;

		.wcs-nux__notice-content{
			margin: 0 1em;
		}

		.wcs-nux__notice-logo {
			display: none;
		}

		.wcs-nux__notice-content {
			.wcs-nux__notice-content-tos {
				margin: 1.5em 0 .5em;
				max-width: 90%;
			}

			.wcs-nux__notice-content-text {
				margin: 1em 0 0;
				max-width: 100%;
			}

			.wcs-nux__notice-content-button {
				align-self: auto;
				margin: 1.5em 0 0 0;
				text-align: center;
			}
		}

		.wcs-nux__notice-jetpack {
			flex-direction: row;
			padding: 0.5em;

			img {
				height: 2em;
				width: 2em;
				margin: 0 1em 0 0;
			}

			.wcs-nux__notice-jetpack-text {
				margin: 0;
			}
		}
	}
}
