.wcc-metabox-button-container {
	padding-top: 8px;
	margin-bottom: 0;
	text-align: center;
}

.wcc-shipping-label-dialog__content {
	display: flex;
	flex-direction: column;
	height: 100%;

	.wcc-shipping-label-dialog__body {
		display: flex;
		flex-wrap: wrap;
		flex-grow: 1;
		overflow-y: auto;
		height: 100%;

		@include breakpoint( ">660px" ) {
			flex-wrap: nowrap;
			margin-bottom: 86px;
		}
	}

	.wcc-shipping-label-dialog__main-section {
		flex-basis: 100%;
		padding: 8px 0;

		@include breakpoint( ">660px" ) {
			flex-basis: 60%;
			overflow-y: auto;
			padding: 16px 16px 8px 1px;
			//margin-bottom: 61px;
		}

		@include breakpoint( ">960px" ) {
			flex-basis: 70%;
		}
	}

	.wcc-shipping-label-dialog__sidebar {
		flex-basis: 100%;
		padding: 32px;
		margin-bottom: 61px;

		@include breakpoint( ">660px" ) {
			flex-basis: 40%;
			padding: 8px 0px 8px 16px;
		}

		@include breakpoint( ">960px" ) {
			flex-basis: 30%;
		}
	}

	.preview-placeholder {
		background-color: $gray-light;
		height: 300px;
	}

	.preview-title {
		color: $gray;
		display: block;
		font-size: 11px;
		line-height: 18px;
		margin-bottom: 4px;
		text-transform: uppercase;
	}
}
