// Only nest imports that conflict with WP core style or apply
// to elements rendered as a child of our React container
@import 'shared/functions'; // functions that we've used from Compass, ported over
@import 'shared/functions/functions'; // sass functions for z-index, etc.
@import 'colors'; // import wcc colors
@import 'shared/mixins/mixins'; // sass mixins for gradients, bordius radii, etc.
//@import 'shared/colors'; // import all of our wpcom colors

.wcc-root {
	// Buttons
	.button {
		background: $gray-light;
		box-shadow: none;
		padding: 5px 14px 7px;

		.spinner {
			margin-bottom: -8px;

			.spinner__border {
				fill: transparent;
			}
		}
	}

	.button.is-primary {
		background: $blue-wordpress;
		border-color: $blue-dark;
		&:hover {
			background: $button-hover;
		}
		// overwrite core styles
		&:disabled {
			background: tint( $blue-light, 50% ) !important;
			border-color: tint( $blue-wordpress, 55% ) !important;
			color: $white !important;
			text-shadow: none !important;
		}

	}

    // Forms
    input[type="text"],
    input[type="search"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type=checkbox],
    input[type=radio],
    input[type="tel"],
    input[type="url"],
    textarea {
        @extend %form-field;
    }

	%form-field {
		box-shadow: none;
		height: auto;
		&::placeholder {
			color: lighten( $gray, 10% );
		}
	}

	.form-input-validation {
		padding: 4px 0 4px 32px;
		.gridicon {
			float: none;
			vertical-align: middle;
		}
	}

	.form-server-error {
		.gridicon {
			float: none;
			vertical-align: middle;
		}
	}

	.settings-steps-summary {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		.settings-step-summary {
			background-color: $gray-light;
			border-radius: 5px;
			border: 1px $gray-dark solid;
			padding: 12px;
			margin-bottom: 12px;
			flex-basis: 44%;

			h4 {
				font-weight: bold;
			}
		}
	}

	.share-package-option {
		display: inline-block;
		margin-top: 8px;
		text-align: left;
		font-size: 13px;
	}

	// Global notices

	.notice.is-warning {
		margin-bottom: 0;
	}

	.global-notices {
		z-index: 999999; // Make sure notices are shown on top of modals
		top: 16px;
		right: 16px;
		@include breakpoint( '<660px' ) {
			top: -5px;
			right: 0;
		}

		.notice {
			max-width: 740px;

			@include breakpoint( '<660px' ) {
				margin-left: 0;
			}
		}

		.notice__text {
			font-size: 15px;

			@include breakpoint( '>660px' ) {
				margin-top: 1px;
			}
		}
	}

	// Custom styles
	max-width: 720px;

	&.wc-connect-packages,
	&.wc-connect-account-settings {
		margin-top: 6px;
	}

	// WP style conflict resets
	.card {
		min-width: 0;
		max-width: none;
	}

	.wp-admin & {
		select {
			height: auto;
			box-shadow: none;
			width: 100%;
			line-height: 18px;
			padding: 9px 32px 12px 14px;
		}
	}

	.wp-core-ui & {
		.button {
			height: auto;
		}
	}

	// .spinner is used both for the Calypso <Spinner> component and WP-admin. This rules revert the WP-Admin ones
	.spinner {
		background: none;
		visibility: visible;
		float: none;
		vertical-align: inherit;
		opacity: 1;
		width: inherit;
		height: inherit;
	}

	@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

	.form-troubles {
		 opacity: 0;
		 animation: fadeIn ease-in 1;
		 animation-fill-mode: forwards;
		 animation-duration: .5s;
		 animation-delay: 3s;
	 }

	.wc-connect-no-priv-settings {
		background: $white;
		padding: 20px;
	}

	// Gridicons
	.gridicon {
		fill: currentColor;
	}

	// Shared
	@import 'shared/reset'; // css reset before the rest of the styles are defined
	@import 'shared/typography'; // all the typographic rules, variables, etc.
	@import 'shared/extends'; // sass extends for commonly used styles
	@import 'shared/animation'; // all UI animation
	@import 'shared/forms'; // form styling
	@import 'shared/dropdowns'; // dropdown styling

	// Main
	@import 'main'; // global layout and responsive styles

	// Components
	@import 'components';

	@import 'woocommerce/woocommerce-services/style';
	@import 'woocommerce/app/order/order-activity-log/style';

	// WCC Components
	@import '../../client/apps/account-settings/style';
	@import '../../client/apps/shipping-label/style';
	@import '../../client/apps/print-test-label/style';
	@import '../../client/apps/settings/style';
	@import '../../client/components/checkbox/style';
	@import '../../client/components/error-message/style';
	@import '../../client/components/error-notice/style';
	@import '../../client/components/indicators/style';
	@import '../../client/components/info-tooltip/style';
	@import '../../client/components/loading-spinner/style';
	@import '../../client/components/nux-notice/style';
	@import '../../client/components/text/style';
	@import '../../client/components/text-area/style';
	@import '../../client/components/toggle/style';
	@import '../../client/components/settings-group-card/style';
}

@import 'components/dialog/style';
@import 'components/popover/style';
@import 'components/tooltip/style';

#woocommerce-order-label .inside {
	margin: 0;
	padding: 0;
}

.wc-connect-admin-dev-notice {
	width: 700px;

	p {
		font-style: italic;
		color: $gray;
	}
}

.wcs-pointer-page-dimmer {
	display: none;
	position: fixed;
	background-color: black;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 9998;
	opacity: 0.5;
}

// Gridicons
.gridicon {
	fill: currentColor;
}
