// Only nest imports that conflict with WP core style or apply
// to elements rendered as a child of our React container
@import 'shared/functions'; // functions that we've used from Compass, ported over
@import 'shared/functions/functions'; // sass functions for z-index, etc.
@import 'colors'; // import wcc colors
//@import 'shared/colors'; // import all of our wpcom colors
@import 'components/dialog/style';

#wc-connect-admin-container,
.wcc-modal {

    // Shared
    @import 'shared/reset'; // css reset before the rest of the styles are defined
    @import 'shared/utilities'; // Helper classes
    @import 'shared/typography'; // all the typographic rules, variables, etc.
    @import 'shared/mixins/mixins'; // sass mixins for gradients, bordius radii, etc.
    @import 'shared/extends'; // sass extends for commonly used styles
    @import 'shared/animation'; // all UI animation
    @import 'shared/forms'; // form styling
    @import 'shared/dropdowns'; // dropdown styling
    //@import 'shared/toolbar-bulk'; // The toolbar used for bulk actions including bulk selecting and deselecting
    //@import 'shared/livechat'; // styles for the popup livechat box
    //@import 'shared/welcome'; // welcome messages
    //@import 'shared/infinite-scroll-end'; // Last page marker once infinite scroll has reached end

    @import 'shipping-services'; // Shipping Services Groups, Group and Entry Component styles

    // Main
    @import 'main'; // global layout and responsive styles

    // Components
    @import 'components';

    // Breakpoints
    $breakpoints: 480px, 660px, 780px, 960px, 1040px; // adds wp-admin specific breakpoints

    // Buttons
    .button {
        background: $gray-light;
        box-shadow: none;
        padding: 5px 14px 7px;
    }

    .button.is-primary {
        background: $blue-wordpress;
        border-color: $blue-dark;
        &:hover {
            background: $button-hover;
        }
    }

    // Forms
    input[type="text"],
    input[type="search"],
    input[type="email"],
    input[type="number"],
    input[type="password"],
    input[type=checkbox],
    input[type=radio],
    input[type="tel"],
    input[type="url"],
    textarea {
        @extend %form-field;
    }

    @mixin placeholder {
        &::-moz-placeholder { @content }
        &::-webkit-input-placeholder { @content }
        &:-ms-input-placeholder { @content }
    }

    %form-field {
        box-shadow: none;
        @include placeholder {
            color: lighten( $gray, 10% );
        }
    }

    .settings-group-header {
        width: 22%;
        @include breakpoint( '<660px' ) {
            width: 100%;
        }
    }

    .settings-group-header {
        font-size: 16px;
        font-weight: 600;
        color: darken( $gray, 20% );
    }

    .settings-group-content {
        width: 78%;
        @include breakpoint( '<660px' ) {
            width: 100%;
        }
    }

    .form-input-validation {
        padding: 4px 0 4px 32px;
        .gridicon {
            float: none;
            vertical-align: middle;
        }
    }

    // Cards
    .card.is-compact {
        &.settings-group-card {
            margin-left: 0;
            margin-right: 0;
            max-width: 100%;
            display: flex;
            padding-top: 24px;

        @include breakpoint( '<660px' ) {
            flex-wrap: wrap;
        }
    }
        &.save-button-bar {
            background: $gray-light;
            padding: 16px 24px;
            margin-right: 0;
            margin-left: 0;
            max-width: 100%;
        }
    }

    // Dialog
    &.dialog.card {
    	position: absolute;
    		top: 0;
    		right: 0;
    		bottom: 0;
    		left: 0;
    	max-width: none;

    	@include breakpoint( ">480px" ) {
            top: 10%;
            right: calc(50% - 250px);
            bottom: 10%;
            left: calc(50% - 250px);
            padding: 0;
            width: 500px;
    	}
    }

    .dialog__content {
        position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 70px;
        padding: 32px 32px 8px;
        overflow: auto;
    }

    .dialog__action-buttons {
        position: absolute;
        left: 0;
        bottom: 0;
        box-sizing: border-box;
        width: 100%;
        padding: 16px 24px;
        text-align: left;
        background: $gray-light;
        border-top: 1px solid lighten( $gray, 30% );
    }

    .share-package-option {
        display: inline-block;
        margin-top: 8px;
        text-align: left;
        font-size: 13px;
    }

    // Global notices

    .global-notices .notice,
    .global-notices .notice {
        margin-left: 164px;
        max-width: 1040px;

        @include breakpoint( '<960px' ) {
            margin-left: 36px;
        }
        @include breakpoint( '<780px' ) {
            margin-left: 0;
        }
    }

    // adjust until system fonts get in wp-admin
    .global-notices .notice__text,
    .global-notices .notice__text {
        padding: 10px 8px 8px;

        @include breakpoint( '<660px' ) {
            padding: 16px;
        }
    }

    // Custom styles
    max-width: 700px;

    // WP style conflict resets
    .card {
        min-width: initial;
        max-width: initial;
    }

    .wp-admin & {
        select {
            height: auto;
            box-shadow: none;
        }
    }

    .wp-core-ui & {
        .button {
            height: auto;
        }
    }

    // WCC Components
    @import '../../client/components/shipping/packages/style';
    @import '../../client/components/indicators/style';
    @import '../../client/components/text-area/style';
    @import '../../client/components/toggle/style';
    @import '../../client/views/shipping/style';

}

@-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

#wc-connect-admin-container .form-troubles {
	opacity: 0;
	-webkit-animation: fadeIn ease-in 1;
	-moz-animation: fadeIn ease-in 1;
	animation: fadeIn ease-in 1;
	-webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-duration: .5s;
	-moz-animation-duration: .5s;
	animation-duration: .5s;
	-webkit-animation-delay: 3s;
	-moz-animation-delay: 3s;
	animation-delay: 3s;
}
