name: E2E Tests

on: [push, workflow_dispatch]

jobs:
  e2e_build_and_test:
    name: Build Container and Run E2E Tests
    runs-on: ubuntu-18.04
    env:
      WP_VERSION: 5.8.0
      TRAVIS_MARIADB_VERSION: 10.5.5
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - uses: actions/setup-node@v2
        with:
          node-version: '10.16.0'
      - run: git config --global url.https://github.com/.insteadOf git://github.com/
      - run: npm ci -ddd
      - run: npm install jest --global
      - run: npm run test:e2e-docker-up
      - run: npm run dist
      - run: npm run test:e2e-docker-ping -ddd
      - run: npm run test:e2e
      - run: npm run test:e2e-docker-down
